[submodule "feederapp"]
	path = feederapp
	url = https://github.com/sambly/feederapp.git
[submodule "exchangebot"]
	path = exchangebot
	url = https://github.com/sambly/exchangebot.git
[submodule "exchangeService"]
	path = exchangeService
	url = https://github.com/sambly/exchangeService.git
