[submodule "feederApp"]
	path = feederApp
	url = https://github.com/sambly/feederApp.git
[submodule "exchangeBot"]
	path = exchangeBot
	url = https://github.com/sambly/exchangeBot.git
[submodule "exchangeService"]
	path = exchangeService
	url = https://github.com/sambly/exchangeService.git